html,
body {
  height: 100vh;
}

#root,
.MuiBox-root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', 'IBM Plex Sans', monospace;
}

/* INPUT */

.rowsQuantityInput {
  margin-left: 2px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 50px;
  text-align: center;
  box-sizing: border-box;
}

/* --- SCROLLBAR --- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e8ecf2;
}

::-webkit-scrollbar-thumb {
  background: #c5d0de;
  border-radius: 6px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c5d0de #e8ecf2;
}
